<p><%= t 'hello' %></p>
<p>Tu as été invité dans une partie de Killer: <%= link_to @game.name, game_dashboard_url(@game.token) %>!</p>
<p>Tu recevra les instructions lorsque la partie demarrera.</p>
<p>En attendant, tu peux confirmer ton compte en cliquant sur ce lien TODO</p>
