<h1><%= @title %></h1>
<p><%= t('pages.actions.found_actions_is_not_easy') %></p>
<ul>
  <% t('game.default_fields.actions').each do |action| %>
    <li><%= action %></li>
  <% end %>
</ul>
<%= render 'pages/how_does_it_work' %>
