<h1><%= @title %></h1>
<details>
  <summary>
    <h2>Authentification</h2>
  </summary>
  <h3>Get a token</h3>
  <figure>
    <code lang="bash">
      curl -X POST http://localhost:3000/api/v1/tokens -d 'email=alexandre@rsseau.fr' -d 'password=20462046'
    </code>
  </figure>
  <p>result</p>
  <figure>
    <code lang="json">
      {"token": "eyJhbGciOiJIUzI1NiJ9.eyJ1c2VyIjoiIzxVc2VyOjB4MDAwMDdmOTllMzY3NmMyMD4iLCJleHAiOjE2NzUyMDAyMDV9.I6st6j1MbwPD8ZG1wrn6MjpRWHUKk8-aoFY_sEFXnX4"}
    </code>
  </figure>
</details>
