<h1>Générateur du jeu Killer</h1>
<p class="text-center"><%= render "games/dashboards_list" %></p>
<p>Le "killer" est un jeu dans lequel tu devras faire preuve de créativité et mettre en place divers stratagèmes pour tenter d'éliminer un à un les autres participants tout en protégeant leur propre vie.</p>
<h2>Comment ça marche?</h2>
<ol>
  <li><%= link_to 'Créez un évenement', new_game_path %></li>
  <li>Ajoutez les participants et les actions</li>
  <li>Générez et imprimmez les cartes</li>
</ol>
