<h1>Générateur du jeu Killer</h1>
<h2>Comment ça marche?</h2>
<ol>
  <li><%= link_to 'Créez un évenement', new_game_path %></li>
  <li>Ajoutez les participants et les actions</li>
  <li>Générez et imprimmez les cartes</li>
</ol>
