<div id="<%= dom_id game %>">
  <p>
    <strong>Name:</strong>
    <%= game.name %>
  </p>

  <p>
    <strong>Players:</strong>
    <%= game.players %>
  </p>

  <p>
    <strong>Actions:</strong>
    <%= game.actions %>
  </p>

</div>
