<nav>
  <ul>
    <% if game.token %>
      <li><%= link_to "ðŸ“Š #{t 'games.dashboard.title'}", game_dashboard_path(game.token) %></li>
    <% end %>
    <li><%= link_to "ðŸƒ #{t 'cards.index.title'} (#{game.cards.count})", game_cards_path(game.id) %></li>
    <li><%= link_to "ðŸŽ© #{t 'players.index.title'} (#{game.players.count})", game_players_path(game_id: game.id)  %></li>
    <li><%= link_to "ðŸ–Š #{t 'games.edit.title'}", edit_game_path(game)  %></li>
  </ul>
</nav>
