---
import Layout from "../layouts/Layout.astro";

const title = "Create a game";
---

<Layout title={title}>
  <h1>{title}</h1>
  <aside transition:name="hero" transition:animate="slide">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, quod optio nemo libero error pariatur tempora sed
    dolorem aperiam, adipisci recusandae beatae? Asperiores dolorem magni soluta sunt est voluptate sed!
  </aside>
  <a href="/join">Join a game</a>
</Layout>
