---
import { ViewTransitions } from "astro:transitions";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <slot />
  </body><style is:global>
    :root {
      --color-bg: rgb(98, 170, 166);
      --color-primary: rgb(146, 40, 84);
      --spacing: 1rem;
    }

    h1,
    a {
      color: var(--color-primary);
    }

    .btn {
    }
  </style>

  <style>
    body {
      background-color: var(--color-bg);
    }
  </style>
</html>
