---
import { ViewTransitions } from "astro:transitions";
import Footer from "../components/Footer.astro";
import NavBar from "../components/NavBar.astro";
import Toast from "../components/Toast.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" data-theme="synthwave">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class="flex flex-col" style="min-height: 100vh;">
    <NavBar />
    <div class="container mx-auto flex-1">
      <slot />
    </div>
    <Footer />
    <Toast />
  </body>
</html>
