<div id="<%= dom_id player %>">
  <p>
    <strong>Name:</strong>
    <%= player.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= player.description %>
  </p>

  <p>
    <strong>Game:</strong>
    <%= player.game_id %>
  </p>

</div>
