---
import Layout from "../layouts/Layout.astro";

const title = "Join a game";
---

<Layout title={title}>
  <h1>{title}</h1>
  <aside transition:name="hero" transition:animate="slide">alex</aside>
  <a href="/new">Create a new game</a>
</Layout>
