<div class="card">
  <p class="card__title">Killer card de <strong><%= card.player %></strong></p>
  <div class="side-by-side">
    <div>
      <p class="card__action">🎯 Ta mission<br/>
        Fais en sorte que <strong><%= card.target %></strong> effectue l'action suivante:<br/>
        <strong><%= card.action %></strong>
      </p>
      <p class="card__help">Fais réaliser cette action à ta victime et remporte sa carte. Ensuite, remplis ton nouvel objectif!</p>
    </div>
    <div class="text-center">
      <p class="card__help text-center">Lien de ta carte</p>
      <%= qr_code public_card_url(card.token) %>
    </div>
  </div>
</div>
