<style>
  .container {

  }

  .card {
    width: 10cm;
    height: 5cm;
    padding: 0.5cm;
    border: 1px dashed black;
    display: inline-block
  }

  .card__title {
    font-weight: bold;
  }
  .card__description {
    width: 4cm;
    display: inline-block;
  }

  .card__qr {
    display: inline-block;
    height: 3.5cm;
    width: 3.5cm;
  }
</style>
<h1><%= t('.title') %></h1>
<div class="container">
  <% @cards.each do |card| %>
    <div class="card">
      <p class="card__title">Killer card of <%= card.player.pretty  %></p>
      <ul class="card__description">
        <li>action: <%= card.action %></li>
      </ul>
      <div class="card__qr">
        <%= qr_code player_dashboard_path(token: card.player.token) %>
      </div>
    </div>
  <% end %>
</div>
