---

---

<section>
  <div class="buttons">
    <a href="#join-game">Join the game</a>
    <a href="#create-game">Create a new game</a>
  </div>

  <div id="join-game">
    <h2>Join the game</h2>
  </div>
  <div id="create-game">
    <h2>Create a new game</h2>
  </div>
</section>

<style>
  .buttons {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing);
  }

  #join-game,
  #create-game {
    display: none;
  }

  #join-game:target {
    display: block;
  }

  #create-game:target {
    display: block;
  }
</style>
