.side-by-side {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 0.5rem;
}

.qr-wrapper {
  text-align: center;
}

.card-print {
  break-inside: avoid;
  page-break-inside: avoid;
  gap: 0;
  height: auto;
  border: 2px solid black;
  padding: 0.5rem;
  width: 30rem;
  display: inline-block;
}

.card-print p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

.card-print svg {
  /* height: 10rem; */
  width: 100%;
}

.card-print__title {
  text-align: center;
  font-size: 1.2rem !important;
  border-bottom: 1px solid black;
}

.text-center {
  text-align: center;
}

.card-print__help {
  /* font-weight: ; */
  font-style: italic;
}

.card-print__warning {
  font-weight: bold;
  color: red;
}

.card-print-form {
  margin: 0;
}
