.balloons {
  display: grid;
  grid-template-columns: 5rem 1fr 5rem;
  max-width: 500px;
  margin: auto;
}

.balloon {
  padding: 1rem;
  background: #fff;
  border-radius: 1rem;
  position: relative;
  font-size: 2rem;

  display: flex;
  align-items: center;

  margin-bottom: 2rem;
}

.balloon__content {
  color: black;
  margin: 0;
}

.balloon__tip {
  width: 0;
  height: 0;
  position: absolute;
  bottom: -20px;
  border: solid 10px;
  border-color: #fff transparent transparent transparent;

  right: 2rem;
}

.balloon--left {
  grid-column-start: 1;
  grid-column-end: 3;
}
.balloon--left .balloon__tip {
  left: 2rem;
}

.balloon--right {
  grid-column-start: 2;
  grid-column-end: -1;
}
.balloon--right .balloon__tip {
  right: 2rem;
}
