.players_list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.players_list li {
  padding: 1rem;
  list-style: none;
}

/* .events {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.events li {
  padding: 1rem;
  list-style: none;
} */