.game-navbar {
  background-color: var(--primary-focus);
  padding: var(--spacing);
  border-radius: var(--border-radius);

  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing);

  justify-content: space-between;
  margin-top: var(--spacing);
  margin-bottom: var(--spacing);
}

.game-navbar__item {
  display: flex;
  gap: calc(var(--spacing) / 2);
  align-items: center;
}

.game-navbar__item__icon {
  font-size: calc(var(--font-size) * 1.2);
}
