.game-navbar {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing);

  justify-content: space-between;
  margin-top: var(--spacing);
  margin-bottom: var(--spacing);
}

.game-navbar li {
  list-style: none;
  margin: 0;
}
