.my-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: var(--spacing);
}

/*
from https://github.com/picocss/pico/blob/master/scss/_variables.scss
$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
) !default;

*/

.col-xs-6 {
  grid-column: span 6;
}

.col-xs-12 {
  grid-column: span 12;
}

/* SM */
@media (min-width: 576px) {
  .col-sm-6 {
    grid-column: span 6;
  }
}

/* MD */
@media (min-width: 768px) {
  .col-md-6 {
    grid-column: span 6;
  }
}

/* LG */
@media (min-width: 992px) {
  .col-lg-4 {
    grid-column: span 4;
  }

  .col-lg-6 {
    grid-column: span 6;
  }
}

/* LG */
@media (min-width: 1200px) {
  .col-xl-4 {
    grid-column: span 4;
  }

  .col-xl-6 {
    grid-column: span 6;
  }
}
