ol.how-does-it-work-steps {
  display: flex;
  gap: calc(var(--spacing) * 2);
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.how-does-it-work-steps__step {
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
  width: 20ch;
}

.how-does-it-work-steps__step__icon,
.how-does-it-work-steps__step__title,
.how-does-it-work-steps__step__description {
  display: block;
}

.how-does-it-work-steps__step__icon {
  text-align: center;
  font-size: 2rem;
}

.how-does-it-work-steps__step__title {
  font-weight: bold;
}

.how-does-it-work-steps__step__description {
}
