section.home {
  margin-bottom: var(--spacing);
}

section.home-first {
  min-height: 80vh;
  align-items: center;
}

.iso-3d {
  transform: rotate3d(1, 1, 1, -60deg);
}

.webpage-screenshot {
  padding: var(--spacing);
  /* background-color: lightgrey; */
}
