:root {
  --dashboard-ruler-color: lightgrey;
}

.player-cards {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: var(--spacing);
  /* border-left: 1px solid var(--card-border-color); */
  margin-bottom: calc(var(--spacing) * 2);
}

.player-cards__player {
  /* card */
  /* background-color: var(--card-background-color); */
  background-color: var(--primary-focus);
  padding: calc(var(--spacing) / 2);
  border-radius: var(--border-radius);
  /* border-bottom-right-radius: var(--border-radius); */
  grid-column: 1 / -1;

  border: 1px solid var(--card-border-color);

  box-shadow: var(--card-box-shadow);

  /* margin-top: var(--spacing); */
  margin-bottom: var(--spacing);

  display: flex;
}

.player-cards__action p,
.player-cards__player p {
  margin: 0;
  flex-grow: 1;
}

.player-cards__action {
  grid-column: 2;
  display: flex;
}
.player-cards__action--done {
  color: gray;
}
.player-cards__action ul.actions {
  justify-content: flex-end;
}

.player-cards__actions-done {
  grid-column: 2;
  /* unset pico stuff */
  border-bottom: none;
  margin: 0;
  padding: 0;
}

.player-cards__actions-done summary {
  background-color: var(--card-background-color);
  margin-bottom: 0 !important;
  cursor: pointer;
}

.player-cards__actions-done__content {
  border-left: 1px solid var(--card-border-color);
  margin-top: var(--spacing);
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
  padding-left: var(--spacing);
}

@keyframes details-show {
  from {
    opacity: 0;
    transform: var(--details-translate, translateY(-0.5em));
  }
}

details[open] > *:not(summary) {
  animation: details-show 150ms ease-in-out;
}

/* new */

.dashboard2 {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0;
}

.dashboard2 li {
  list-style: none;
  padding-left: calc(var(--spacing));
  margin-left: calc(var(--spacing) / 2);
  border-left: 2px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 0;
  margin-top: 0;
}

.dashboard2 li::before {
  background-color: var(--dashboard-ruler-color);
  width: var(--spacing);
  height: var(--spacing);
  line-height: var(--spacing);
  text-align: center;
  content: "🥸";
  position: relative;
  border-radius: 50%;
  display: block;
  left: calc(var(--spacing) * -1.5 - 1px);
  top: calc(var(--spacing) * 2);
}

/* new */

.dashboard {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0;
}

.dashboard li {
  list-style: none;
  padding-left: calc(var(--spacing));
  margin-left: calc(var(--spacing) / 2);
  border-left: 2px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 0;
  margin-top: 0;
}

.dashboard li.dashboard__item--player::before {
  content: "🥸";
}
.dashboard li.dashboard__item--player-dead::before {
  content: "💀";
}
.dashboard li.dashboard__item--action::before {
  content: "✅";
}

.dashboard li.dashboard__item--action::before,
.dashboard li.dashboard__item--player-dead::before,
.dashboard li.dashboard__item--player::before {
  background-color: var(--dashboard-ruler-color);
  width: var(--spacing);
  height: var(--spacing);
  line-height: var(--spacing);
  text-align: center;
  font-size: large;

  position: relative;
  border-radius: 50%;
  display: block;
  left: calc(var(--spacing) * -1.5 - 1px);
  top: calc(var(--spacing) * 2);
}
