.player-cards {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: var(--spacing);
  /* border-left: 1px solid var(--card-border-color); */
  margin-bottom: calc(var(--spacing) * 2);
}

.player-cards__player {
  /* card */
  /* background-color: var(--card-background-color); */
  background-color: var(--primary-focus);
  padding: calc(var(--spacing) / 2);
  border-radius: var(--border-radius);
  /* border-bottom-right-radius: var(--border-radius); */
  grid-column: 1 / -1;

  border-top: 1px solid var(--card-border-color);
  border-bottom: 1px solid var(--card-border-color);
  border-right: 1px solid var(--card-border-color);

  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.1);

  display: flex;
}

.player-cards__action p,
.player-cards__player p {
  margin: 0;
  flex-grow: 1;
}

.player-cards__action {
  grid-column: 2;
  display: flex;
}
.player-cards__action--done {
  color: gray;
}
.player-cards__action ul.actions {
  justify-content: flex-end;
}

.player-cards__actions-done {
  grid-column: 2;
  /* unset pico stuff */
  border-bottom: none;
  margin: 0;
  padding: 0;
}

.player-cards__actions-done__content {
  border-left: 1px solid var(--card-border-color);
  margin-top: var(--spacing);
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
  padding-left: var(--spacing);
}

.player-cards__actions-done summary {
  background-color: var(--card-background-color);
  cursor: pointer;
}

@keyframes details-show {
  from {
    opacity: 0;
    transform: var(--details-translate, translateY(-0.5em));
  }
}

details[open] > *:not(summary) {
  animation: details-show 150ms ease-in-out;
}
