.list-inline {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing);
}

.list-inline li {
  list-style: none;
  margin: 0;
}

.form-as-button,
.form-as-link {
  margin: 0;
}

form.button_to:has(.form-as-button),
form.button_to:has(.form-as-link) {
  margin: 0;
}

form.button_to:has(.form-as-link) {
  display: inline;
}

.form-as-link {
  padding: 0;
  margin: 0;
  border: unset;
  display: inline;
  background-color: unset;
}

.form-as-link {
  color: var(--color);
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing);
}

.gap {
  gap: var(--spacing);
}

.mb-1 {
  margin-bottom: var(--spacing);
}

.mb-2 {
  margin-bottom: calc(var(--spacing) * 2);
}

.hide {
  display: none;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing);
}

ul.actions {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 0;
  padding-left: 0;
  margin-bottom: 0;
  column-gap: var(--spacing);
  list-style: none;
}

ul.actions li {
  list-style: none;
  margin-bottom: 0;
}

/* ul.actions li::before {
  display: none;
} */
