<footer class="layout-footer container">
  <div class="grid">
    <div>
      <p><%= t 'layout-footer.sitemap' %></p>
      <ul>
        <li><%= link_to t('pages.help.title'), help_path %></li>
        <li><%= link_to t('pages.actions.title'), actions_path %></li>
        <li><%= switch_lang_link %></li>
      </ul>
    </div>
  </div>
</footer>
